In [1]:
import pandas as pd

df = pd.read_csv("../data/LFB_Mobilisation_2009_2014.csv")
df.head(10)

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:27,NaN,2009-01-01 00:07:46,NaN,...,2009-01-01 00:16:46,2009-01-01 00:23:55,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1,235138081,2009,0,38427,H212,2,2009-01-01 00:02:27,2009-01-01 00:06:40,2009-01-01 00:08:09,253.0,...,2009-01-01 00:12:17,2009-01-01 00:12:17,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:09,2009-01-01 00:06:40,2009-01-01 00:09:17,151.0,...,2009-01-01 00:16:33,2009-01-01 00:17:48,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:57,2009-01-01 00:06:45,2009-01-01 00:08:27,108.0,...,2009-01-01 00:20:38,2009-01-01 00:20:38,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:04,2009-01-01 00:07:58,2009-01-01 00:09:57,114.0,...,2009-01-01 00:11:58,2009-01-01 00:22:29,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
5,5091,2009,0,38431,A312,2,2009-01-01 00:06:04,2009-01-01 00:08:26,2009-01-01 00:10:14,142.0,...,NaN,2009-01-01 00:18:53,A31,Holloway,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
6,6091,2009,0,38434,A432,1,2009-01-01 00:06:30,2009-01-01 00:07:53,2009-01-01 00:09:22,83.0,...,2009-01-01 00:15:57,2009-01-01 00:23:10,A43,Kentish Town,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
7,6091,2009,0,38435,A431,2,2009-01-01 00:06:30,2009-01-01 00:08:05,2009-01-01 00:10:12,95.0,...,NaN,2009-01-01 00:22:34,A43,Kentish Town,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
8,8091,2009,0,38436,E231,1,2009-01-01 00:13:34,2009-01-01 00:15:33,2009-01-01 00:22:16,119.0,...,2009-01-01 00:29:12,2009-01-01 00:29:12,E23,East Greenwich,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up
9,9091,2009,0,38438,G381,1,2009-01-01 00:14:12,2009-01-01 00:17:10,2009-01-01 00:19:54,178.0,...,2009-01-01 00:43:10,2009-01-01 00:50:17,G38,Heston,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901788 entries, 0 to 901787
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            901788 non-null  int64
 1   CalYear                   901788 non-null  int64
 2   HourOfCall                901788 non-null  int64
 3   ResourceMobilisationId    901788 non-null  int64
 4   Resource_Code             901788 non-null  object
 5   PerformanceReporting      901788 non-null  object
 6   DateAndTimeMobilised      901788 non-null  object
 7   DateAndTimeMobile         883728 non-null  object
 8   DateAndTimeArrived        901788 non-null  object
 9   TurnoutTimeSeconds        883636 non-null  float64
 10  TravelTimeSeconds         883631 non-null  float64
 11  AttendanceTimeSeconds     901788 non-null  int64
 12  DateAndTimeLeft           856625 non-null  object
 13  DateAndTimeReturned       877430 non-null  object
 14  DeployedFromStation_Code  901786 non-null  object
 15  DeployedFromStation_Name  901786 non-null  object
 16  DeployedFromLocation      901744 non-null  object
 17  PumpOrder                 901788 non-null  int64
 18  PlusCode_Code             901788 non-null  object
 19  PlusCode_Description      901788 non-null  object
 20  DelayCodeId               228294 non-null  float64
 21  DelayCode_Description     228294 non-null  object
dtypes: float64(3), int64(6), object(13)
memory usage: 151.4+ MB

In [3]:
na_percent = (df.isna().mean() * 100).round(2)
na_percent.sort_values(ascending=False)

DelayCode_Description       74.68
DelayCodeId                 74.68
DateAndTimeLeft              5.01
DateAndTimeReturned          2.70
TurnoutTimeSeconds           2.01
TravelTimeSeconds            2.01
DateAndTimeMobile            2.00
PlusCode_Description         0.00
PlusCode_Code                0.00
PumpOrder                    0.00
DeployedFromLocation         0.00
DeployedFromStation_Name     0.00
DeployedFromStation_Code     0.00
IncidentNumber               0.00
CalYear                      0.00
DateAndTimeArrived           0.00
DateAndTimeMobilised         0.00
PerformanceReporting         0.00
Resource_Code                0.00
ResourceMobilisationId       0.00
HourOfCall                   0.00
AttendanceTimeSeconds        0.00
dtype: float64